{% extends 'base.html.twig' %}

{% block title %}Editing {{ form.vars.data.shortName }}!{% endblock %}

{% block body %}
    <h1>{{ form.vars.data.shortName }}</h1>
    <hr>
    <a href="{{ path('welcome') }}">home</a>
    <a href="{{ path('authors') }}">authors</a>
    <a href="{{ path('books') }}">books</a>
    <hr>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Save" />
    {{ form_end(form) }}
{% endblock %}
