{% extends 'base.html.twig' %}

{% block title %}Authors{% endblock %}

{% block body %}
    <h1>Authors</h1>
    <hr>
    <a href="{{ path('welcome') }}">home</a>
    <a href="{{ path('books') }}">books</a>
    <hr>
    <table>
        <th>name</th>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.shortName }}</td>
                <td>
                    <a href="{{ path('author_edit', {'id': author.id}) }}">edit</a>
                </td>
                <td>
                    <a href="{{ path('author_delete', {'id': author.id}) }}">delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <hr>
    <a href="{{ path('author_create') }}">create</a>
{% endblock %}
