{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
    <h1>Hello!</h1>
    <hr>

    <ul>
        <li>Your books are <a href="{{ path('books') }}">here</a></li>
        <li>Your authors are <a href="{{ path('authors') }}">here</a></li>
    </ul>
{% endblock %}
