{% extends 'base.html.twig' %}

{% block title %}Adding book{% endblock %}

{% block body %}
    <h1>New book</h1>
    <hr>
    <a href="{{ path('welcome') }}">home</a>
    <a href="{{ path('books') }}">books</a>
    <a href="{{ path('authors') }}">authors</a>
    <hr>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn" value="Create" />
    {{ form_end(form) }}
{% endblock %}
