{% extends 'base.html.twig' %}

{% block title %}Books list{% endblock %}

{% block body %}
    <h1>Books list</h1>
    <hr>
    <a href="{{ path('welcome') }}">home</a>
    <a href="{{ path('authors') }}">authors</a>
    <hr>
    <table>
        <th>name</th>
        {% for book in books %}
            <tr>
                <td>
                    <a href="{{ path('book', {'id': book.id}) }}">{{ book.name }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <hr>
    <a href="{{ path('book_create') }}">create</a>
{% endblock %}
