{% extends 'base.html.twig' %}

{% block title %}Book: {{ book.name }}!{% endblock %}

{% block body %}
    <h1>{{ book.name }}</h1>
    <hr>
    <a href="{{ path('welcome') }}">home</a>
    <a href="{{ path('books') }}">books</a>
    <a href="{{ path('authors') }}">authors</a>
    <hr>
{{ dump() }}
    <table>
        <th>id</th>
        <th>name</th>
        <th>year</th>
        <th>isbn</th>
        <th>pages</th>
        <th>cover</th>
        <th>authors</th>
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.name }}</td>
            <td>{{ book.year }}</td>
            <td>{{ book.isbn }}</td>
            <td>{{ book.pagesCount }}</td>
            <td>{{ book.cover }}</td>
            <td>
                {% for author in book.getAuthors %}
                {{ author.shortName }}<br>
                {% endfor %}
            </td>
        </tr>
    </table>

    <hr>
    <a href="{{ path('book_edit', {'id': book.id}) }}">edit</a>
    <a href="{{ path('book_delete', {'id': book.id}) }}">delete</a>
{% endblock %}
